@page "/"

@inject HttpClient http

<h1>Service de facturation</h1><br />

<h2>Bienvenue.</h2>   

@if(allMontants != null)
{
    <div class="div-CA">
        @foreach (var montant in allMontants)
        {
            <span class="span-CA">@montant.Key :  @montant.Value €</span>
            <br>
        }
    </div>
}
else
{

}
@code{

    private Dictionary<string, string> allMontants = null;

    protected override async Task OnInitializedAsync()
    {

        allMontants = await http.GetFromJsonAsync<Dictionary<string, string>>("api/Dashboard");

    }
}